include/inc_mysqli_mooc.php
include/inc_mysqli.php
www/identification.php
www/documentation/spip.php
pj/
sql/
www/js/old/
www/imputations/old
www/statistiques/old
www/admin/
www/annuaire/
www/correction/
www/corrections/
www/institutions_avant/
www/test/
www/tests/
include/_phpmailer/

