#navigation {
	display: none;
}
.msgok,
.noprint,
#examens h4 span.J {
	display: none;
}
a {
	text-decoration: none;
}
hr.saut {
	page-break-after: always;
	margin: 0;
	padding: 0;
	height: 1px;
	visibility: hidden;
}
.cadre,
.apercu {
    border: 0px;
    padding: 0;
    margin: 0;
}
h2.formulaire {
	color: #000;
	border-bottom: 1px solid #ccc;
	background: transparent;
}
table.formulaire {
}
#examens .dateExamen {
	border: 0px;
}
#examens h4,
#examens div.evs {
	padding: 0;
}
#examens div.evs {
	line-height: 1.2em;
}
div.dateExamen {
	page-break-inside: avoid;
}
