body, input, textarea, select, option {
	font-family: arial, helvetica, geneva, sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
	background: #fff;
}
form {
	margin: 0;
	padding: 0;
}
select option {
	padding-right: 5px;
}
/*
input, select, textarea {
	border: 1px solid #999;
}
input:focus,
textarea:focus {
	border: 1px solid #000;
}
*/
input.upload {
	font-family: arial, helvetica, geneva, sans-serif;
}
body {
	font-size: smaller;
}
option {
	padding: 0 0.2em;
}

div#navigation {
	text-align: center;
	background: #999;
	border: 2px solid #000;
	line-height: 1.2em;
	color: #fff;
	font-weight: bold;
	padding: 1px 0;
}
div#navigation a {
	padding: 0 3px;
	color: #000 ;
	text-decoration: none;
	font-weight: bold;
}
div#navigation a:visited {
	color: #000 ;
}
div#navigation a:hover {
	color: #000 ;
	background: #fff;
}
div#identification {
	padding-left: 0.3em;
	margin-bottom: 1px;
	border-bottom: 1px solid #777;
}

#chemin {
	padding: 0.5em;
	border-bottom: 2px solid #000;
	font-weight: bold;
	margin-bottom: 2em;
}
#chemin a {
}
.arr {
	padding: 0 0.5em;
}

#page {
	margin: 1em;
}

.encadre {
	padding: 0 1em;
	margin-left: 1em;
	margin-top: 1em;
	border: 1px solid #ccc;
}


a {
	color: #009;
	text-decoration: underline;
}
a div {
	text-decoration: underline;
}
a:visited {
	color: #600;
}
a:hover {
	color: #000;
}
.bl {
	display: block;
}

.aide {
	cursor: help;
	background: #000 ;
	color: #fff;
	border: 1px solid #ccc;
	padding: 0px 3px;
	font-weight: bold;
	font-size: smaller;
	line-height: 1em;
}

ol,
ul {
	margin: 1em 0;
	padding: 0;
	margin-left: 2em;
}
ol li,
ul li {
	margin: 0.5em 0 ;
}
ul li {
	list-style-type: square;
}
b, strong {
/*
	font-size: 90%;
*/
}
em {
	font-style: normal;
	font-weight: bold;
}
.majuscules {
	text-transform: uppercase;
}
.normal {
	font-weight: normal;
}
.espace {
	color:#777;
	letter-spacing: 2px;
}
.champ {
	font-weight: bold;
	font-size: 90%;
	color: #555;
}
.chp1,
.chp {
	font-weight: bold;
}
p .chp {
	color: #000;
}
.chp1,
th .chp {
	color: #777;
}
.msgok {
	font-weight: bold;
	color: #090;
	font-size: 95%;
}
.erreur {
	font-weight: bold;
	color: #c00;
	font-size: 95%;
}
.erreur_champ {
	color: #333;
}
ul.erreur li {
	margin: 0.3em 0 ;
}

.navig a {
	font-weight: bold;
	margin: 0 1em;
}

/*
.erreur a {
	color: #c00;
}
.erreur a:hover {
	color: #000;
}
*/
table.tableau td.r,
.r {
	text-align: right;
}
table.tableau td.c,
.c {
	text-align: center;
}
.s {
	font-size: smaller;
}
acronym,
.help {
	cursor: help;
}

input.b,
p.c input {
	font-weight: bold;
}


h1 {
	text-align: center;
	margin-top: 0;
}
h1.foad {
	font-weight: normal;
	font-size: 1.5em;
	margin-top: 0:
}
h1.accueil {
	margin: 1.2em 0;
}
div.accueil {
	margin: 1em 0;
}
div div.accueil {
	margin: 0;
}

hr.clear {
	clear: both;
	color: #ccc;
	background: #ccc;
	margin: 2em 0em ;
}
h2 {
	font-size: 1.5em ;
}
h3 {
	font-size: 1.3em ;
}
h2, h3 {
	margin-top: 1em;
	margin-bottom: 0.2em;
}

hr.saut {
	color: #000;
	background: #000;
	margin: 4em 0 ;
}

.dossier_candidature div.recherche {
	float: right;
	width: 30%;
	margin: 0 ;
	padding: 0;
}
.dossier_candidature div.historique {
	float: right;
	margin: 0 ;
	padding: 0;
}
.dossier_candidature div.historique div,
.dossier_candidature div.recherche div {
	margin-left: 0.5em;
	padding: 1px 0.5em;
	border: 1px solid #ccc;
	background: #fff;
}

div.ancien,
div.diplome {
	border: 1px solid #999;
	padding: 0.3em 1em;
	margin: 1px 0;
}
/*
div.diplome h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 1.1em;
}
*/
div.diplome ul,
div.ancien ul {
	margin: 0;
	padding: 0;
}
div.diplome ul li,
div.ancien ul li {
	margin: 0.3em 0;
	padding: 0;
	margin-left: 1em;
}

.undiplome {
	border: 1px solid #ccc;
	padding: 0.2em;
}
.undiplome:hover {
	border: 1px solid #999;
	background: #ffc;
}


h1.promo,
.dossier_candidature h1 {
	text-align: left;
	margin-bottom: 0.2em;
	font-weight: normal;
}
.dossier_candidature h2 {
	border-bottom: 1px solid #ccc;
	border-bottom: 1px solid #777;
	font-weight: normal;
}
.dossier_candidature p {
	margin: 0.7em 0;
}
.dossier_candidature table.tableau {
	margin: 0 ;
}
.dossier_candidature table.tableau th  {
	text-align: center;
	color: #777;
}
.dossier_candidature div {
	margin-top: 0.7em;
	margin-bottom: 0.1em;
}

table {
	border-collapse: collapse;
}
td {
	padding: 1px 3px;
	border: 2px solid #fff;
}

/*
	margin : 1em auto;
	text-align: center;
*/
table.donnees {
	margin: 0.7em 0 0 0;
}
table.donnees th {
	line-height: 1.2em;
	vertical-align: top;
	text-align: right;
	font-weight: normal;
	padding: 1px 2px 1px 0;
}
table.donnees td {
	line-height: 1em;
	vertical-align: top;
	padding: 1px 2px;
	color: #000;
}

div.date_maj {
	float: right;
	margin: 0;
	padding: 0;
	font-size: smaller;
}
table.ancien {
	border-collapse: collapse;
	margin: 0;
}
table.ancien tbody {
	padding: 0 3px;
}
table.ancien th,
table.ancien td {
	line-height: 1.1em;
	padding: 2px;
	border: 1px solid #fff;
}
table.ancien th {
	vertical-align: top;
	text-align: right;
	padding-left: 3px;
	font-size: smaller;
	font-size: smaller;
}
table.ancien td {
	vertical-align: top;
}
h2.formulaire {
	margin: 1em 2px 0 2px;
	padding: 3px 3px 4px 5px;
	font-size: 1.5em;
	background: #ab0132;
	color: #fff;
	text-align: left;
	font-weight: bold;
}

table.criteres {
	padding: 1px;
	background: #000;
}
table.data,
table.formulaire {
	margin : 0 auto;
}
table.data tr,
table.formulaire tr {
	background: #dfdfdf;
	border: 3px solid #fff;
}
.aex,
table.formulaire tr.aex {
	background: #cfc;
}
table.data tr.sous,
table.formulaire tr.sous {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
table.data th,
table.formulaire th {
	text-align: right;
	vertical-align : top;
	padding: 2px 5px;
	font-size: 90%;
	font-weight: bold;
	border: 1px solid #fff;
}
table.formulaire th {
	padding: 3px 5px;
}
table.data td,
table.formulaire td {
	text-align: left;
	padding: 2px 5px;
}
table.formulaire table th {
	text-align: center;
	border: 0px solid #fff;
	font-size: smaller;
}
table.formulaire table th,
table.formulaire table td {
	padding: 2px;
}
table.formulaire td div {
	margin-top: 4px;
}
table.donnees, th
table.data th,
table.formulaire th,
table.data td strong,
table.formulaire td strong {
	color: #333;
}
table.data td p,
table.formulaire td p {
	margin: 4px 0;
}


label {
	display: inline;
}
label.cnf {
	display: block;
	float: left;
	width: 12em;
	margin-right: 1em;
}
label.cnf:hover {
	background: #fff;
}
label.sel {
	background: #fc0;
}

textarea,
input {
	padding: 1px 2px;
}
input.b {
	font-weight: bold;
}
optgroup {
	background: #ccc;
	text-align: right;
	font-style: normal;
}
table.tableau th.annee,
.annee {
	background: #333;
	color: #fff;
	text-align: right;
	font-style: normal;
}
optgroup option {
	background: #fff;
	text-align: left;
	color: #000;
}
.Oui {
	background: #0f0 ;
}
.Non {
	background: #f33 ;
}

table.tableau {
	margin: 0 auto;
	text-align: center;
}
table.tableau caption {
	margin: 0.5em auto;
	text-align: center;
	font-weight: bold;
}
table.tableau tr.pair {
	background: #ddd;
}
table.tableau thead th {
	background: #999;
}
table.tableau th,
table.tableau td {
	margin: 2px;
	padding: 2px 5px;
	text-align: left;
	vertical-align: middle;
	border: 1px solid #777;
}
table.tableau thead th {
	text-align: center;
	color: #fff;
}

table .conteneur {
	float: left;
	margin: 0 1em;
}
table.stats thead th.invisible,
table.tableau thead th.invisible {
	background: #fff;
	border: 0px;
}
table.stats td.invisible,
table.tableau td.invisible {
	background: #fff;
	border: 0px;
}
tr.invisible, td.invisible {
	background: #fff;;
}


table.pres {
	margin: 1em auto;
	text-align: center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border: 1px solid #ccc;
}
table.pres caption {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	border: 1px solid #ccc;
}
table.pres table.stats caption {
	border: 0px;
}
table.pres th,
table.pres td {
	text-align: center;
	vertical-align: top;
}

table.stats {
	margin: 0 auto;
	text-align: center;
}
table.stats caption {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: bold;
	margin-bottom: 0.2em;
}
table.stats thead,
table.stats tbody,
table.stats tfoot {
/*
	border: 2px solid #999;
*/
}
table.stats th,
table.stats td {
	border: 1px solid #999;
	padding: 1px 3px;
}
table.stats th {
	font-weight: bold;
	font-size: 0.9em;
}
table.stats td {
	text-align: right;
}
table.stats td.l {
	text-align: left;
}
table.stats tbody th {
	text-align: left;
}
table.stats th.total {
	text-align: right;
}
table.stats tfoot th.nob {
	border: 0px;
}

table.data {
}

table.imput {
	margin: 1em auto;
}
table.imput tbody {
	margin: 1em auto;
}
table.imput th, table.imput td {
	vertical-align: top;
	padding: 1px 2px;
}
table.imput th {
	text-align: right;
	font-weight: normal;
}
table.imput td {
}

table.candidature {
	font-size: small;
}
table.candidature td {
	background: #eaeaea;
	vertical-align: top;
}
table.candidature {
}

.nom {
	font-size: larger;
	font-weight: bold;
}
.intitule,
.prenom {
	font-weight: bold;
}
.intit_ses,
.universite,
.petit {
	font-size: smaller;
}
.transferts,
.paye {
}


span.nonetudie,
span.allocataire,
span.payant,
span.payantetab,
span.scac,
span.enattente,
span.refuse,
span.atransferer,
span.desistea,
span.reclassea,
span.confirmea,
span.confirmep,
span.cas1,
span.cas2,
span.cas3 {
	padding: 0 3px;
}

.nonetudie {
	background: #fff;
}
.allocataire {
	background: #0f0;
}
.payant {
	background: #09f;
}
.payantetab {
	background: #77f;
}
.scac {
	background: #3dc;
}
.enattente {
	background: #f90;
}
.refuse {
	background: #f00;
}
.atransferer {
	background: #ff0;
}
.desistea {
	background: #9f9;
}
.reclassea {
	background: #963;
}
.confirmea {
	background: #090;
}
.confirmep {
	background: #06f;
}
.cas1 {
	background: #ccc;
}
.cas2 {
	background: #999;
}
.cas3 {
	background: #666;
}

.transferts {
	font-weight: bold;
	padding: 0 3px;
}
table.stats tbody tr:hover,
table.stats tbody tr.pair:hover,
table.tableau tbody tr:hover,
table.tableau tbody tr.pair:hover,
table.donnees tbody tr:hover,
table.donnees tbody tr.pair:hover,
table.tableau tr:hover .nonetudie,
table.tableau tr:hover .allocataire,
table.tableau tr:hover .payant,
table.tableau tr:hover .payantetab,
table.tableau tr:hover .scac,
table.tableau tr:hover .enattente,
table.tableau tr:hover .refuse,
table.tableau tr:hover .atransferer,
table.tableau tr:hover .desistea,
table.tableau tr:hover .reclassea,
table.tableau tr:hover .cas1,
table.tableau tr:hover .cas2,
table.tableau tr:hover .cas3,
table.donnees tr:hover .nonetudie,
table.donnees tr:hover .allocataire,
table.donnees tr:hover .payant,
table.donnees tr:hover .payantetab,
table.donnees tr:hover .scac,
table.donnees tr:hover .enattente,
table.donnees tr:hover .refuse,
table.donnees tr:hover .atransferer,
table.donnees tr:hover .desistea,
table.donnees tr:hover .reclassea,
table.donnees tr:hover .cas1,
table.donnees tr:hover .cas2,
table.donnees tr:hover .cas3,
table.stats tr:hover .nonetudie,
table.stats tr:hover .allocataire,
table.stats tr:hover .payant,
table.stats tr:hover .payantetab,
table.stats tr:hover .scac,
table.stats tr:hover .enattente,
table.stats tr:hover .refuse,
table.stats tr:hover .atransferer,
table.stats tr:hover .desistea,
table.stats tr:hover .reclassea,
table.stats tr:hover .cas1,
table.stats tr:hover .cas2,
table.stats tr:hover .cas3
{
	background: #ffc;
}
table.examens tbody tr:hover {
}

table.simple td {
	border: 1px solid #777;
}

.particulier {
	background: #fc0;
}
code {
	font-family: 'courier new', monospace;
	font-weight: bold;
	color: #444;
}
kbd {
	font-family: 'courier new', monospace;
	font-weight: bold;
}

.cadre,
.apercu {
	border: 1px solid #333;
	padding: 0.5em;
	margin: 0.5em;
	background: #fff;
}
.cv {
}
div.res {
	border: 2px solid #ccc;
	padding: 0.5em;
	margin: 0.5em 0;
	background: #eee;
}
div.res:hover {
	border: 2px solid #333;
	background: #fff;
}
.res a.critere {
	text-decoration: none;
	line-height: 1em;
	padding: 0 1px;
	border: 1px solid #999;
	background: #ddd;
}
.res a.critere:hover {
	border: 1px solid #333;
	background: #fff;
}
sup.m {
	font-family: 'courier new', monospace;
}

.pagination strong {
	position: relative;
	top: -10px;
}
.pagination a {
	padding: 0 5px;
}
.pagination a img {
	border: 1px solid #fff;
	opacity: 0.5;
}
.pagination a img:hover {
	opacity: 1;
}
.sep {
	padding: 0 0.5em;
}
.sepp {
	padding: 0 1em;
}

a:focus {
	background: #ff3;
}

.examen {
	font-family: 'courier new', monospace;
}
span.examen span {
	background: #000;
	color: #fff;
}
.ampmoui {
	background: #999;
}
.addexam {
	text-align: right;
	font-size: smaller;
	padding-bottom: 3px;
}
tr.groupe td {
	background: #ccc;
	font-weight: bold;
	text-align: right;
}

.plusieurs {
	font-size: 0.85em;
	font-weight: normal;
}

.fright {
	float: right;
	margin-left: 1em;
	padding-right: 0.3em;
}
sup {
	line-height: 0.1em;
	height: 1px;
}

div.ev {
    font-size: smaller;
    line-height: 1em;
    margin: 0 0 0.2em 0;
}
div.ev div.co {
    font-weight: bold;
}
div.ev a * {
    text-decoration: none;
}
div.ev a:hover * {
    text-decoration: underline;
}
div.ev div.li {
    font-style: italic;
}

